@import url('https://fonts.googleapis.com/css?family=Rye|Volkhov&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Volkhov', serif;
    line-height: 2;
    background-color: beige;
}

.container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #8b4513;
    box-shadow: 0 0 5px black;
    padding: 1em;
}

.container p {
    color: white;
}

.box {
    box-shadow: 0 0 5px black;
    padding: .5em;
}

h1 {
    text-shadow: 1px 1px 1px beige;
    font-family: 'Rye', cursive;
    font-size: 3em;
    text-align: center;
    width: 100%;
    background-color: brown;
    box-shadow: 0 0 5px black;
}

.center {
    flex-basis: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 1em;
}

#canvas {
    /* height: 300px;
    width: 300px; */
    background-image: url(../images/wildwestbackground.jpg);
    box-shadow: 0 0 5px black inset;
    padding: 3em;
    margin: 1em auto;
    justify-self: center;
}

#word {
    flex-basis: 100%;
    text-align: center;
}

#instructions {
    width: 50%;
}

#gameOver {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

#gameOver::after {
    background-color: black;
    opacity: 0.5;
}

button {
    margin: 1em auto;
    font-size: 3em;
    font-family: 'Rye', cursive;
    background-color: sienna;
    border-color: saddlebrown;
    align-self: flex-end;
    opacity: 1;
}

#winLose {
    font-size: 3em;
    font-family: 'Rye', cursive;
    background-color: sienna;
    box-shadow: 0 0 5px black;
    width: 100%;
    opacity: 1;
    
}
